.button {
    color: white;
    padding: .5rem 1rem;
    border: none;
    font-weight: lighter;
}

.blue-btn {
    background: #7EE0E7;
}

.red-btn {
    background: #FF4A56;
    margin-left: .5rem;
}



