.button {
    color: white;
    padding: .5rem 1rem;
    border: none;
    font-weight: lighter;

    &:hover {
        background: greenyellow;
    }
}

.blue-btn {
    background: #7EE0E7;
}

.red-btn {
    background: #FF4A56;
}



