.logo {
    margin-left: 2rem;

    &__main {
        width: 120px;
        font-family: Futura;
        font-weight: $light;
        
        h1 {
            margin: 0;
            padding: 0;
            font-size: 222%;
        }

    }

    &__secondary {
        width: 155px;
        font-family: $inconsolata;
        font-size: small;
        margin: 0;
        padding-right: 30px;
        position: relative;
        right: 0;
        top: 8px;
        
    }
}

@media (min-width: 992px) {

    .logo {
        margin-left: 0;
    }
}