h2, h3, h4, h5, h6 {
    font-family: $montserrat;
}

p {
    font-family: $open-sans;
    color: #4C4C4C;
}

.user__name {
    font-family: $montserrat;
    font-size: x-large;
    font-weight: $bold;
    
}

.user__followers {
    font-family: $open-sans;
    
}
