.icons {
    margin-top: 1rem;
    margin-right: 0;
    padding: 0;
}

.fas, .far {
    font-size: x-large;

    &:hover {
        color: greenyellow;
    }
}

.fa-bars {
    font-size: xx-large;
    color: #605D5D;
}

@media (min-width: 992px) {

    .fa-bars {
        font-size: x-large;
    }
}