.main-section {
    padding: 0 10%;
    
    &__title {
        text-align: center;
        font-weight: 500;
        font-size: x-large;
        margin: 1em 0;
    }

    &__preview {
        width: 100%;
        padding: 5% 0;
    }

    &__video-title {
        font-weight: 700;
    }
}

@media (min-width: 992px) {
    .main-section {
        padding: 0;

        &__title {
            text-align: left;
        }

        &__video-title {
            font-size: 100%;
        }
    }
}